{% extends 'ProjectUserBundle::layout.html.twig' %}

{% block content -%}
<div class="col-8 col-sm-8 col-lg-8">
    <h1>{{ entity.firstName }}{{ entity.lastName}}</h1>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Data urodzenia:</th>
                <td>{{ entity.birthDate|date('d.m.Y') }}r.</td>
            </tr>
            <tr>
                <th>Miejsce urodzenia:</th>
                <td>{{ entity.birthPlace }}</td>
            </tr>
            <tr>
                <th>Adres zamieszkania:</th>
                <td>{{ entity.street }} {{ entity.houseno }}/{{ entity.apartmentno }}</br>
                {{ entity.code }} {{ entity.city }}, {{ entity.country }}</td>
            </tr>
            </tr>
            <tr>
                <th>Numer telefonu:</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Adres e-mail:</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
    <h3>
        Wykształcenie
    </h3>
</div>
<div class="col-4 col-sm-4 col-lg-4" id="photo">
    <img src="http://www.justfamous.fr/wp-content/uploads/2013/05/scarlett_johansson_9501_north_626x.jpg" class="img-circle" id="profile">
</div>
<div class="col-12 col-sm-12 col-lg-12">
    <table class="table table-hover">
        <tbody>
            {% for education in educations %}
                <tr>
                    <th id="separator">{{ education.startYear }} - {{ education.graduationYear }}</th>
                    <td>{{ education.schoolType }}: {{ education.schoolName }} w {{ education.city }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>
        Doświadczenie
    </h3>
</div>
<div class="col-12 col-sm-12 col-lg-12">
    <table class="table table-hover">
        <tbody>
            {% for experience in experiences %}
                <tr>
                    <th id="separator">{{ experience.startDate|date('m.Y') }} - {{ experience.finishDate|date('m.Y') }}</th>
                    <td>{{ experience.companyName }} w {{ experience.city }} jako: {{ experience.position }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-12 col-sm-12 col-lg-12">
<ul class="record_actions">
    <li>
        <a href="{{ path('project_user_information') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_user_information_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
